@charset  "UTF-8";


.wrap {
    width: 800px;
    margin: 200px auto 0;
}

.item-box_question {
    position: relative;
    display: inline-block;
    margin: 0 15px;
}

.item-box_question .question-balloon {
    display: none;
    position: absolute;
    top: -100px;
    left: 0;
    z-index: 5;
    border: 1px solid #000;
    width: 200px;
    padding: 15px;
    background: #fff;
    font-size: 12px;
}

.bk-question-balloon {
    display: none;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


@media screen and (max-width:640px){
    .wrap {
        width: 100%;
        margin: 100px auto 0;
    }
}